
@media screen and (max-width: 500px) {
  .container {
    padding: 7rem 1rem 0 1rem;
  }
  .title h1 {
    font-size: 2.5rem;
  }
}


.container1 {

  // background-image: radial-gradient(circle, #d0deff, #799cdf, #5f84b6, #4179b1, #006eac);


  font-family: "Poppins", sans-serif;
  font-weight: 500;
  
  min-height: 180vh;
  padding: 4rem 1.5rem 0 1.5rem;
  margin: 0 auto;

  .title{
    
    text-align: center;
    margin-bottom: 3rem;
    h1 {
        color: #f0f6ff;
        font-size: 3.1rem;
        position: relative;
    font-weight: 1000;
    text-align: center;
    font-family: "Poppins";

        text-shadow: -2px 3px 6px rgba(59, 61, 61, 0.48);

        @media screen and (max-width: 800px) {
          font-size: 2.8rem;
        }
        @media screen and (max-width: 450px) {
          font-size: 2.5rem;
        }
      }
      span {
        font-size: 0.9rem;
        color:#f2a900;
        @media screen and (max-width: 800px) {
          font-size: 0.8rem;
        }
        @media screen and (max-width: 450px) {
          font-size: 0.6rem;
        }
      }

  } 


  .buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    text-shadow: -2px 3px 6px rgba(135, 220, 236, 0.48);


    @media screen and (max-width: 350px) {
      
    }
    button {
      color: #000;
          background: #fff;
          padding: 0.65rem 1rem;
          border-radius: 10px;
          font-size: 0.85rem;
          text-transform: capitalize;
          cursor: pointer;
          border: none;
          margin-top: 1rem;
          font-family: "Poppins";

          &.active {
              background: #8c12f0;
              color: #fff;
          }
  }
  }
  .workImages {
    margin-top: 5rem;
    width: 80vw;
    margin: auto;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;


    @media screen and (max-width: 800px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 600px) {
      grid-template-columns: 1fr;
    }

  }
  
}
